# Configuration for LangSmith
config:
  langsmithLicenseKey: ""
  apiKeySalt: ""
  authType: "mixed"
  basicAuth:
    enabled: true
    initialOrgAdminEmail: ""
    initialOrgAdminPassword: ""
    jwtSecret: ""

ingress:
  enabled: true
  ingressClassName: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip

postgresql:
  enabled: true
  primary:
    persistence:
      enabled: false

redis:
  enabled: true
  master:
    persistence:
      enabled: false
